# python
__pycache__/
*.pyc
*.pyo
*.pyd

# env / secrets
.env

# jupyter
.ipynb_checkpoints/

# logs
logs/*.log

# system
.DS_Store

# local virtual environments
venv/
.venv/

# optionally ignore large outputs
data/raw/
