# ================================
# PYTHON
# ================================
__pycache__/
*.pyc
*.pyo

# ================================
# ENVIRONMENT
# ================================
.venv/
env/

# ================================
# SECRETS ONLY
# ================================
.env
*.env

# ================================
# LOGS
# ================================
*.log

# ================================
# JUPYTER
# ================================
.ipynb_checkpoints/

# ================================
# OS
# ================================
.DS_Store

# ================================
# MODELS (optional)
# ================================
*.pkl
*.joblib
